In [1]:
#import libraries
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [16]:
#connect service account
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('./Jupyter_and_Google_Sheets-7519a691b50a.json', scope)
gc = gspread.authorize(credentials)

In [17]:
#import data from google spreadsheet into jupyter
spreadsheet_key = '1zvbK07Ge2-uco83XAuqiMbq5MKnVE1yfFhhzbtc-xvo'

#use this to update the table
book = gc.open_by_key(spreadsheet_key)
worksheet = book.worksheet("Candidate Data")
table = worksheet.get_all_values()

In [18]:
##Convert table data into a dataframe
df = pd.DataFrame(table[1:], columns=table[0])

##Only keep columns we need
df = df[['Order', 'Candidate', 'Position', 'Start Date', 'End Date', 'Years of Experience', 'Points']]

##Convert number strings to floats and ints
df = df.apply(pd.to_numeric, errors='ignore')

##Convert date strings to datetime format
df['End Date'] = pd.to_datetime(df['End Date'],infer_datetime_format=True)
df['Start Date'] = pd.to_datetime(df['Start Date'],infer_datetime_format=True)

df.head()

,Order,Candidate,Position,Start Date,End Date,Years of Experience,Points
0,45,Donald Trump,President,2017-01-20,2021-01-20,4.00274,104.0
1,45,Donald Trump,Secretary of State,NaT,NaT,0.00000,0.0
2,45,Donald Trump,Secretary of Defense,NaT,NaT,0.00000,0.0
3,45,Donald Trump,Secretary of Treasury,NaT,NaT,0.00000,0.0
4,45,Donald Trump,Vice President,NaT,NaT,0.00000,0.0

In [19]:
#Push from Jupyter notebook to Googgle Sheet
candidate_groups = df.groupby('Candidate')
scores_df = candidate_groups.sum()
scores_df['Order'] = candidate_groups.first()
scores_df.head()

                  Order  Years of Experience  Points
Candidate
Abraham Lincoln      16             6.336986  114.00
Andrew Jackson        7            19.884932  246.85
Andrew Johnson       17            25.443836  204.45
Barack Obama         44            12.054795  208.55
Benjamin Harrison    23            12.887671  137.70